<!-- app/views/shared/_header.html.erb -->
<header class="bg-white dark:bg-slate-900 shadow-md sticky top-0 z-30">
  <div class="max-w-7xl mx-auto px-4 py-6 flex justify-between items-center">
    <%= link_to "JasonMag", root_path, class: "text-2xl font-bold text-slate-900 dark:text-gray-100" %>
    <nav class="space-x-4 text-slate-700 dark:text-gray-300">
      <%= link_to "Articles", articles_path, class: "hover:text-teal-500 font-medium" %>
      <%= link_to "Projects", projects_path, class: "hover:text-teal-500 font-medium" %>
      <%= link_to "About", about_path, class: "hover:text-teal-500 font-medium" %>
    </nav>
    <%= render "shared/dark_mode_toggle" %>
  </div>
</header>
+