<!-- app/views/shared/_header.html.erb -->
<nav class="fixed w-full z-50 bg-[#0a0d14]/70 backdrop-blur">
    <div class="max-w-screen-xl mx-auto flex items-center justify-between px-6 py-4">
        <%= link_to "JasonMag", root_path, class: "text-xl font-bold" %>
        <ul class="flex space-x-4 sm:space-x-6 text-sm">
            <li><%= link_to "Home", root_path, class: "hover:text-indigo-400" %></li>
            <li><%= link_to "Projects", projects_path, class:"hover:text-indigo-400" %>
            <!-- Articles navigation link -->
            <li><%= link_to "Articles", articles_path, class:"hover:text-indigo-400"%></li>
            <li><%= link_to "About", about_path, class:"hover:text-indigo-400"%></li>
            <li><%= link_to "Contact", contact_path, class:"hover:text-indigo-400"%></li>
            <li></li>
        </ul>
        <%# render "shared/dark_mode_toggle" %>
    </div>
</nav>
